<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <tbody>
      <tr>
        <th colspan="2">Información:</th>
      </tr>
      <tr>
        <td class="a1" width="23%"><div><%= f.label :name, "Nombre :" %></div></td>
        <td class="a1" width="77%"><%= f.text_field :name, autofocus: true %></td>
        </tr>
      <tr>
        <td  class="a1" colspan="2"><%= f.submit "Actualizar" %></td>
        </tr>

    </tbody>
</table>

<% end %>
