<h1>Lista de Libros</h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Título</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%# @book.author.name  %>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.book_id %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= link_to image_tag("icoVisualizar.gif", :alt => "Mostrar", :title => "Mostrar"), book %></td>
        <td><%= link_to image_tag("icoEditar.gif", :alt => "Editar", :title => "Editar"), edit_book_path(book) %></td>
        <td><%= link_to image_tag("icoEliminar.gif", :alt => "Eliminar", :title => "Eliminar"), book, method: :delete, data: { confirm: '¿Esta Seguro de Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Libro', new_book_path %>
