<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Atras', books_path %>
