<h1>Lista de Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>

        <td><%= link_to image_tag("icoVisualizar.gif", :alt => "Mostrar", :title => "Mostrar"), category %></td>
        <td><%= link_to image_tag("icoEditar.gif", :alt => "Editar", :title => "Editar"), edit_category_path(category) %></td>
        <td><%= link_to image_tag("icoEliminar.gif", :alt => "Eliminar", :title => "Eliminar"), category, method: :delete, data: { confirm: '¿Esta Seguro de Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Categoría', new_category_path %>
